@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext", sans-serif;
  margin: 0;
  width: 100%;
  color: $primary-color-black;

  img {
    width: 100%;
  }

  p {
    font-size: 0.8125rem;
    line-height: 1.125rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.25rem 0;
  display: inline-block;
  color: $primary-color-silver;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

button {
  font-family: "AvenirNext", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  min-height: 2.25rem;
  border: none;
  border-radius: 0.25rem;
  color: $primary-color-white;
  background-color: $button-color;
  cursor: pointer;

  &:hover {
    background-color: $button-color-hover;
  }
}

header {
  background-color: $blue-mint;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    justify-content: flex-start;
    padding: 0 5rem;
  }

  .logo_container {
    @include desktop {
      margin-right: 3rem;
    }
  }

  nav {
    display: none;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 18.75rem;
    }

    a {
      text-decoration: none;
      color: $primary-color-black;
    }
  }
}

.footer {
  @include desktop {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: $blue-mint;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footnote {
    display: none;
    @include desktop {
      display: inline;
    }
  }

  &__tab-bar {
    padding: 20px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: $blue-mint;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include desktop {
      display: none;
    }

    a {
      text-decoration: none;
      color: $primary-color-black;
      font-size: 0.75rem;

      @include desktop {
        font-size: 0.875rem;
      }
    }

    img {
      width: 20px;
      display: block;
      margin: auto;
    }
  }

  &__item-container {
    height: 100%;
  }
}
