@use "./partials/variables" as *;
@use "./partials/mixins" as *;

main {
  margin-top: 4rem;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.box {
  margin: 0 6rem;
  padding: 1rem;
  width: 50vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: 2px solid opacify($secondary-color-mercury, 0.5);
  box-shadow: 0 4px 4px opacify($secondary-color-mercury, 0.5);
  border-radius: 0.25rem;
  padding: 1rem;
  @include tablet {
    width: 35vw;
    height: 35vw;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.site {
  display: flex;
  justify-content: center;

  margin: 1rem auto 0;

  // padding: 0 80px;

  h4 {
    font-size: 0.8125rem;
    font-weight: 500;
    @include tablet {
      font-size: 1rem;
    }
  }
  &__iconbox {
    display: flex;
    align-items: center;
  }
  &__icon {
    max-width: 100%;
    height: 2rem;
    padding: 0.2rem;
  }
}

.button {
  align-self: center;
  width: fit-content;
  margin-bottom: 3rem;
  background-color: $button-color;
  &:hover {
    background-color: $button-color-hover;
  }
}
