@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.login {
  &__title {
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
  }

  &__wrong {
    display: none;
    color: red;
  }

  &__form {
    width: 200px;
    margin: auto;
    padding-top: 80px;

    @include tablet {
      width: 300px;
    }
  }

  &__form-item {
    width: 100%;
    margin: 10px auto;

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid $primary-color-silver;
      border-radius: 4px;
    }
  }

  &__button {
    margin-top: 10px;
  }

  &__signup-link {
    display: inline-block;
    color: #429e9d;
    font-size: 0.85rem;
    margin-top: 0.6rem;
  }
}
