@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.nav {
  background-color: $primary-color-white;
  margin-top: 5rem;

  @include tablet {
    display: flex;
  }

  &__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 100%;

    @include tablet {
      align-items: flex-end;
    }

    &-link {
      color: $button-color;
      font-size: 0.8rem;
      text-decoration: none;
      padding: 2.5vw;

      @include tablet {
        margin-top: 6vw;
      }

      @include desktop {
        font-size: 0.9rem;
        padding-bottom: 3.4vw;
      }

      &-active {
        @include tablet {
          border-bottom: 0.2rem solid #218483;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &-item {
      display: inline-block;
      font-weight: 500;
      text-align: center;
      width: 50%;
      font-size: 1.5rem;
      padding-bottom: 2vw;

      @include tablet {
        padding-bottom: 2.3vw;
        font-size: 2rem;
      }

      @include desktop {
        padding-bottom: 2.5vw;
        font-size: 4rem;
      }

      &-active {
        border-bottom: 0.2rem solid #218483;
        padding-bottom: 3.3vw;
        font-weight: 600;

        @include tablet {
          border-bottom: 0;
          padding-bottom: 2.3vw;
        }

        @include desktop {
          padding-bottom: 2.8vw;
        }
      }
    }
  }
}

.site-main {
  margin-top: 1rem;
}

.dates-section {
  &__title {
    padding: 2vw 5vw 0 5vw;
    font-weight: 600;

    @include tablet {
      font-size: 2.5rem;
      margin-left: 2vw;
    }
    @include desktop {
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.dynamic-mydates {
  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10vw;
  }

  &__entry {
    margin: 0 5vw;
    font-size: 0.9rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      height: 8vw;
      margin: 0 4vw 0 8vw;
      width: 85%;

      &:hover {
        background-color: $button-color-hover;
        cursor: pointer;
      }
    }
    @include desktop {
      height: 6vw;
      margin: 0;
      width: 63vw;
      padding-left: 3vw;
    }
  }

  &__title {
    color: $primary-color-silver;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 2vw;

    @include tablet {
      font-size: 0rem;
    }

    &-label {
      font-size: 0rem;

      @include tablet {
        color: $primary-color-silver;
        font-weight: 600;
        font-size: 0.7rem;
        margin-bottom: 2vw;
        margin-left: 3vw;
      }

      @include desktop {
        margin-left: -5vw;
      }
    }

    &-labelvenue {
      @include tablet {
        margin-left: 11vw;
      }
      @include desktop {
        margin-left: -4vw;
      }
    }
  }

  &__date-copy {
    font-weight: 600;
    margin: 2.5vw 0 6vw;

    @include desktop {
      margin: 2.5vw 0 0 -3vw;
      font-size: 0.8rem;
    }
  }

  &__copy {
    margin: 2.5vw 0 6vw;

    @include tablet {
      font-size: 0.8rem;
      font-weight: 500;
      margin-left: 2vw;
    }

    @include desktop {
      margin: 2.5vw 2vw 0 6vw;
    }
  }

  &__button {
    border-style: none;
    background-color: $button-color;
    width: 50%;
    padding: 0;
    height: 2rem;
    border-radius: 0.2rem;
    color: $primary-color-white;
    font-weight: 600;
    font-size: 1rem;

    @include tablet {
      width: 15vw;
      height: 4vw;
      margin-right: 0;
      padding: 0;
      margin-top: 2vw;
      font-size: 0.8rem;
    }
    @include desktop {
      width: 12vw;
      height: 3vw;
      margin-top: 1.3vw;
    }
  }
}
