  .card {
            background-color: #206f70;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(206, 28, 28, 0.5);
            padding: 20px;
            margin: 10px;
        }


.card h2 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        /* CSS for the card content */
.card p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
}